{% extends 'book/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h1>Create Book</h1>
                <form method="post" enctype="multipart/form-data">
                    {{ form.as_p }}
                    <div class="form-group d-flex">
                        {% csrf_token %}
                        <button class="btn btn-primary ml-auto">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
    